body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #4facfe, #00c6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.contenedor {
    width: 380px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    overflow: hidden;
}


.formulario {
    transition: all 0.5s ease;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #0704ad;
}

button {
    width: 95%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: rgb(41, 7, 238);
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #00b6ff;
}


.cambiar {
    margin-top: 15px;
    background: none;
    color: #03447c;
    border: none;
    cursor: pointer;
    font-size: 14px;
}


.oculto {
    display: none;
}